#historico h1{
    font-size: 3rem;
    padding-top: 3rem;
    color: #203246;
    padding-bottom: 2rem;
}

#accordionPanelsStayOpenExample{
    border: 1px solid black;
    box-shadow: 5px 5px 20px black;
}